selecciones-service/src/main/resources/wsdl/selecciones.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://soa.antoni.com/selecciones"
           targetNamespace="http://soa.antoni.com/selecciones"
           elementFormDefault="qualified">

    <xs:complexType name="seleccion">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="confederacion" type="xs:string"/>
            <xs:element name="grupo" type="xs:string"/>
            <xs:element name="rankingFifa" type="xs:int"/>
            <xs:element name="entrenador" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getAllSeleccionesRequest"><xs:complexType/></xs:element>
    <xs:element name="getAllSeleccionesResponse">
        <xs:complexType><xs:sequence><xs:element name="selecciones" minOccurs="0"><xs:complexType><xs:sequence><xs:element name="seleccion" type="tns:seleccion" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
    </xs:element>

    <xs:element name="getSeleccionByIdRequest"><xs:complexType><xs:sequence><xs:element name="id" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
    <xs:element name="getSeleccionByIdResponse"><xs:complexType><xs:sequence><xs:element name="seleccion" type="tns:seleccion" minOccurs="0"/><xs:element name="mensaje" type="xs:string"/></xs:sequence></xs:complexType></xs:element>

    <xs:element name="getSeleccionesByGrupoRequest"><xs:complexType><xs:sequence><xs:element name="grupo" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
    <xs:element name="getSeleccionesByGrupoResponse">
        <xs:complexType><xs:sequence><xs:element name="selecciones" minOccurs="0"><xs:complexType><xs:sequence><xs:element name="seleccion" type="tns:seleccion" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
    </xs:element>
</xs:schema>
